/* .whatsappIcon {
  position: sticky;
  top: 720px;
  background-repeat: no-repeat;
  z-index: 1000;
  display: flex;
  justify-content: end;
  align-items: end;
}

.bsIcon {
  color: #fff;
  width: 70px;
  margin-right: 5rem;
  background-repeat: no-repeat;
}

.whatsApp-links {
  color: white;
}

.whatsApp-img {
  width: 80px;
  margin-right: 2rem;
  background-repeat: no-repeat;
} */