.header {
  /* background: #fff; */
  background: rgb(92, 135, 149);

  /* position: fixed;
  max-width: 1200px;
   width: 100%; 
   width: 414px;
  z-index: 10000;
  top: 0; */
  height: 80px;
}


.block-none {
  display: none;
}
.block {
  display: block;
}
.logo img {
  margin-top: -10px;
}
.block_header {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding-top: 23px;
  padding-bottom: 23px;
}
.blockList {
  display: flex;
  justify-content: space-between;
  gap: 29px;
}


/* .blockList a::after {
  content: "";
  position: absolute;
  background-color: #fa9801;
  height: 3px;
  width: 0;
  left: 0;
  bottom: 10px;
  transition: 0.3s;
} */

/* .blockList a:hover:after {
  width: 100%;
} */

.blockList a:hover {
  color: #fa9801;
  /* color: #104eb3; */
  transition: 0.3s;
}


.btn-rus {
  width: 40px;
  height: 30px;
}

.open {
  display: flex !important;
}

.burger {
  display: none;
}

/* =====================  media =================== */

@media (max-width: 835px) {
  .blockList {
    font-size: 14px;
  }
}

@media (max-width: 886px) {
  .blockList {
    font-size: 12px;
  }
}


@media (max-width: 739px) {
  .blockList {
    font-size: 10px;
  }
  .btn-rus {
    margin-top: -4px;
  }
}



@media (max-width: 886px) and (min-width: 665px) {
  .btn-rus {
    width: 40px;
    height: 20px;
    font-size: 10px;
   }
}


@media (max-width: 701px) {
  .img-logo-header {
    width: 100px;
  }
}

@media screen and (max-width: 665px) {
  .blockList {
    display: none;
    font-size: 30px;
    
  }
  .burger {
    display: block;
    flex-direction: column;
    font-size: 33px;
  }
  .closeMenu {
    position: absolute;
    top: 2rem;
    right: 1.7rem;
}

.overlay-burger {
      position: fixed;
      top: 0;
      width: 512px;
      max-height: 1000px;
      background-color: #5d5d5df6;
    } 

.white:hover, a.active {
  background: none;
  color: #fa9801;
}
.flex-column {
  display: flex;
  transition: 10s;
}

}
  .nav-link {
    color: #fff;
  }

  .overlay-burger{
    position: absolute;
    position: fixed;
    width: 100%;
    height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
    top: 0;
    left: 0;
     z-index: 9999;
  }

