.form-control {
    /* width: 452px; */
    border-radius: 10px;
    padding:20px;
   
}
.form{
    width: 300px;

}

.input-field , .label {  
    margin-top: 10px;
    border-radius: 5px;
    width: 100%;
    height: 44px;
}
.input-name2 {
    margin-bottom: 10px;
}
.input-field{
    padding: 5px 30px 5px 10px;
    box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
    background: #d9d9d9;
    border: none;

}
.submit{
    margin-top: 20px;
    border-radius: 25px;
    text-align: center;
    background: #FA9801;
    box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
    border: none;
    cursor: pointer;
    color: #fff;
    padding: 10px 110px;
    transition: 0.3s;
}

.submit:hover {
    width: 270px;
    height: 40px;
}

.p{
    text-align: center;
}
.p h4{
    color: #fff;
}