.form-control {
    border-radius: 10px;
    padding:20px;
    box-shadow: 0px 0px 8px rgba(0, 0, 0, 0.3);
}
.form{
    width: 271px;

}

.input-field , .label {  
    margin-top: 10px;
    border-radius: 5px;
    width: 100%;
    height: 44px;
}
.input-name2 {
    margin-bottom: 10px;
}
.input-field{
    padding: 5px 30px 5px 10px;
    box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
    background: #d9d9d9;
    border: none;

}
.submit{
    margin-top: 20px;
    border-radius: 25px;
    text-align: center;
    background: #FA9801;
    box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
    border: none;
    cursor: pointer;
    color: #fff;
    padding: 10px 110px;
    transition: 0.3s;
}

.submit:hover {
    width: 270px;
    height: 40px;
}

.p{
    text-align: center;
}
.p h4{
    color: #fff;
}

@media (max-width: 900px) {
    .form-control {
        margin-left: 99px;
    }
}

@media (max-width: 848px) {
    .form-control {
        margin-left: 37px;
    }
}

@media (max-width: 791px) {
    .form-control {
        margin-left: 5px;
    }
  }


  @media (max-width: 756px) {
    .form-control {
        margin-left: 18px;
    }
  }


  @media (max-width: 706px) {
    .p h4 {
        display: none;
    }
    .form-control {
        margin-top: -40px;
        margin-left: 6rem;
    }
    .form {
        width: 400px;
    }
    .submit {
        width: 400px;
    }
  }

  
@media (max-width: 670px) {
    .form-control {
        margin-left: 4.7rem;
    }
}

@media (max-width: 641px) {
    .form-control {
        margin-left: 3.8rem;
    }
}

@media (max-width: 611px) {
    .form-control {
        margin-left: 2.7rem;
    }
}


@media (max-width: 601px) {
    .form-control {
        margin-left: 34px;
    }
}

@media (max-width: 534px) {
    .form-control {
        margin-left: 9px;
    }
}

@media (max-width: 510px) {
    .form-control {
        margin-left: -8px;
    }
}

@media (max-width: 486px) {
    .form-control {
        margin-left: -18px;
    }
}

@media (max-width: 479px) {
    .form-control {
        margin-left: 23px;
    }
    .form {
        width: 300px;
    }
    .submit {
        width: 300px;
    }
}


@media (max-width: 448px) {
    .form-control {
        margin-left: 10px;
    }
}


@media (max-width: 441px) {
    .form-control {
        margin-left: 28px;
    }
}



@media (max-width: 428px) {
    .form-control {
        margin-left: -5px;
    }
}


@media (max-width: 420px) {
    .form-control {
        margin-left: 13px;
    }
}


@media (max-width: 420px) {
    .form-control {
        margin-left: -10px;
    }
}

@media (max-width: 405px) {
    .form-control {
        margin-left: -10px;
    }
}


@media (max-width: 390px) {
    .form-control {
        margin-left: -20px;
    }
}

@media (max-width: 373px) {
    .form-control {
        margin-left: -24px;
    }
}

@media (max-width: 373px) {
    .form-control {
        margin-left: -8px;
    }
    .form {
        width: 260px;
    }
    .submit {
        width: 260px;
    }

}


@media (max-width: 351px) {
    .form-control {
        margin-left: -22px;
    }
}

@media (max-width: 340px) {
    .form-control {
        margin-left: -30px;
    }
}