.header__course {
  height: 600px;
  background: url(./images//Logocourse.png);
  background-repeat: no-repeat;
  background-size: cover;
  background-size: center;
  background-blend-mode: multiply;
  background-color: #3c3c3cc1;
}

.wrapper-course h1 {
  font-family: "Montserrat";
  font-weight: 600;
  font-size: 48px;
  /* width: 1024px/; */
  color: #fff;
  text-align: center;
  padding-top: 220px;
}
.wrapper-course-p {
  font-family: "Montserrat" sans-serif;
  /* font-style: normal; */
  font-weight: 400;
  font-size: 24px;
  /* width: 805px; */
  color: #fff;
  padding-top: 20px;
  text-align: center;
}
/* .course-content {
  width: 700px;
} */

.section-course {
  padding-top: 60px;
}

.logo-section {
  font-family: "Montserrat" sans-serif;
  font-size: 25px;
  font-weight: 600;
  padding-bottom: 15px;
}

/* ========================= card-launge ===================== */

.card-launge {
  margin-top: 100px;
  margin-bottom: 100px;
}

.container {
  border: 5px solid red;
}

.wrapper-launge {
  display: flex;
  justify-content: center;
}
.logo-launge {
  font-weight: 600;
  padding-top: 1.3rem;
  text-align: center;
}
.span-launge {
  font-size: 16px;
  color: #7070709e;
  line-height: 22px;
}

.box-cards {
  width: 800px;
  height: 400px;
  background: hsla(0, 0%, 88%, 0.6);
  background: hsla(0, 0%, 91%, 0.4);
  box-shadow: 0 4px 14px rgba(0, 0, 0, 0.1);
  border-radius: 4px;
  border: 1px solid #c9c9c9;
  cursor: pointer;
  margin-top: 50px;
}

.boxes-launge {
  display: flex;
  justify-content: center;
  flex-wrap: wrap;
  margin-top: 50px;
  gap: 30px;
} 

.box-launge {
  width: 100px;
  height: 100px;
  background: hsla(0, 0%, 88%, 0.6);
  border-radius: 3px;
  text-align: center;
  
}
