*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
.container{
    width: 100%;
    max-width: 1200px;
    margin: 0 auto;
    
}

a:active {
    color: black;
}

a{
    text-decoration: none;
    color: black;
}
ul{
    list-style: none;
}

@media (max-width: 1200px) and (min-width: 300px) {
    .header {
        padding: 5px;
    }
    .home {
        padding: 5px;
    }
    .cards {
        padding: 5px;
    }
    .accardion-section {
        padding: 8px;
    }
    .footer {
        padding: 5px;
    }
}
